{% extends 'base.html.twig' %}

{% block title %}Soin{% endblock %}

{% block body %}
    <h1>Soin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ soin.id }}</td>
            </tr>
            <tr>
                <th>Cycle</th>
                <td>{{ soin.cycle }}</td>
            </tr>
            <tr>
                <th>Lumiere</th>
                <td>{{ soin.lumiere }}</td>
            </tr>
            <tr>
                <th>Temp</th>
                <td>{{ soin.temp }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_soin_index') }}">back to list</a>

    <a href="{{ path('app_soin_edit', {'id': soin.id}) }}">edit</a>

    {{ include('soin/_delete_form.html.twig') }}
{% endblock %}
